/* General style of the nav list. BG blends in with black, overall spreads 100% across the page. */
ul {
    background-color: black;
    overflow: auto;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* Each list entry stacks to the left and takes up 20% of the 100% listed above. */
li {
    float: left;
    width: 20%;
    display: inline;
    margin: 0px;
    padding: 0px;
}

li a {
    float: left;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

li a:hover {
    background-color: white;
    color: black;
}

/* Aligns heading 1 to the center. */
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/* For aligning the image at the top of the page. */
img.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Changes body's bg color to black and the text color to white. */
body {
    background-color: black;
    color: white;
    font-size: 18px;
}

    /* Below styles are for things within the body tags. */

    /* Aligns heading 1 to the center, sets font size and family */
    h2 {
       text-align: center;
       font-size: 35px;
       font-family: Helvetica, Arial, sans-serif;
    }

    /* Sets normal paragraph text's font family. It runs through each one until the browser finds a usable font. */
    p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* Adjusts margins of article content sections so that they don't touch the edges of the view area. */
    article {
        margin-left: 25px;
        margin-right: 25px;
    }

    /* Aligns Image tagged middle to left, allows text to wrap around it with 10px between the picture and text. 
    Adjusts image so that left margin is the same as text's. */
    img.middle {
        float: left;
        margin-left: 25px;
        margin-right: 10px;
    }

    /* Makes images tagged with middleright class float to right with margin values that blend with the rest of the page. */
    img.middleright {
        float: right;
        margin-left: 10px;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    /* Makes the table blend in with the rest of the page by getting rid of the margins and padding.*/
    table, tr, td {
        float: center;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    /* Turns links red, gets rid of default underline. */
    a {
        color:red;
        text-decoration: none;
    }

    /* Avoids red link cover, as these "links" are the headers for each section and activated via the nav menu */
    a.onpage {
        color: white;
    }

    /* Links turn blue when you hover over them. */
    a:hover {
        color: blue;
    }

    /* Avoids blue link hover, as these "links" are the headers for each section and activated via the nav menu */
    a.onpage:hover {
        color: white;
    }

    /* Aligns the footer text. */
    footer {
        text-align: center;
    }